<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xye8.roc.mapper.CoursesMapper">

    <resultMap id="BaseResultMap" type="com.xye8.roc.model.domain.Courses">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="course_code" column="course_code" jdbcType="VARCHAR"/>
            <result property="course_name" column="course_name" jdbcType="VARCHAR"/>
            <result property="professor_id" column="professor_id" jdbcType="INTEGER"/>
            <result property="credits" column="credits" jdbcType="TINYINT"/>
            <result property="difficulty" column="difficulty" jdbcType="TINYINT"/>
            <result property="homework_amount" column="homework_amount" jdbcType="TINYINT"/>
            <result property="grading_fairness" column="grading_fairness" jdbcType="TINYINT"/>
            <result property="learning_gain" column="learning_gain" jdbcType="TINYINT"/>
            <result property="average_score" column="average_score" jdbcType="DECIMAL"/>
            <result property="number_of_reviews" column="number_of_reviews" jdbcType="INTEGER"/>
            <result property="is_deleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="created_at" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updated_at" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,course_code,course_name,
        professor_id,credits,difficulty,
        homework_amount,grading_fairness,learning_gain,
        average_score,number_of_reviews,is_deleted,
        created_at,updated_at
    </sql>
    <select id="countByCourseCode" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM courses WHERE course_code=#{courseCode}
    </select>
</mapper>
