<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xye8.roc.mapper.SemesterMapper">

    <resultMap id="BaseResultMap" type="com.xye8.roc.model.domain.Semester">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="semester_name" column="semester_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,semester_name
    </sql>
</mapper>
